N8N_IMAGE=
N8N_HOST=
N8N_PROTOCOL=
N8N_PORT=
WEBHOOK_URL=
GENERIC_TIMEZONE=
N8N_ENCRYPTION_KEY=
N8N_DATA_VOLUME=
OFFLOAD_MANUAL_EXECUTIONS_TO_WORKERS=
N8N_POSTGRES_HOST=
N8N_POSTGRES_PORT=
N8N_POSTGRES_DATABASE=
N8N_POSTGRES_USER=
N8N_POSTGRES_PASSWORD=
N8N_REDIS_HOST=
N8N_REDIS_PORT=
N8N_REDIS_PASSWORD=
N8N_REDIS_DB=
